body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Use 100% of the viewport height */
    margin: 0;
}

canvas {
    background-color: white;
}
